# Feature Engineering

Write up your group's feature ideas in the table, including feature name, grain level, and description.

As a group, compute 2-3 features (the most interesting ones!) in Excel and post the file in this discussion forum before the next class (one Excel file per each group).

In [5]:
import pandas as pd
import w1

In [6]:
sample: pd.DataFrame = pd.read_csv('./data/ASSISTments-sample.csv')
sample

,skill,problem_id,user_id,assignment_id,assistment_id,start_time,end_time,problem_type,original,correct,hint_count
0,Box and Whisker,36843,52451,175321,27833,44:28.0,47:00.5,algebra,1,0,0
1,Box and Whisker,36843,52451,175322,27833,50:35.1,50:51.8,algebra,1,1,0
2,Inverse Relations,8718,52451,175315,8718,28:11.1,29:20.4,choose_1,1,0,0
3,Inverse Relations,833,52451,175315,833,29:22.0,29:39.9,choose_1,1,0,0
4,Inverse Relations,882,52451,175315,882,30:21.4,30:55.6,choose_1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3230,Area Irregular Figure,77520,75361,232370,43144,43:14.3,43:36.9,algebra,1,1,0
3231,Area Irregular Figure,77452,75361,232370,43127,43:38.2,44:19.7,algebra,1,0,0
3232,Congruence,4468,75799,176419,4468,29:37.2,31:21.7,algebra,1,0,0
3233,Congruence,71770,76285,222898,41088,23:33.0,23:41.3,algebra,1,1,0
3234,Box and Whisker,51460,76285,220674,33175,48:22.4,NaN,algebra,1,0,0

## Average time taken per assignment

How much time students spent on a given assignment on average: total time spent on assignment divided by number of students who solved the problem.

Granularity: assignment.

In [7]:
w1.get_avg_assignment(sample)

c:\Users\rmora\Documents\UIUC\23f\CI539\ci539\w1.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_time'] = pd.to_timedelta(df['start_time'].apply(convert_time))
c:\Users\rmora\Documents\UIUC\23f\CI539\ci539\w1.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_time'] = pd.to_timedelta(df['end_time'].apply(convert_time))
c:\Users\rmora\Documents\UIUC\23f\CI539\ci539\w1.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_time'] = df['end_time'] - df['start_time']
c:\Users\rmora\Documents\UIUC\23f\CI539\ci539\w1.py:27: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df = df.groupby('assignment_id').mean(numeric_only=False)

,start_time,end_time,total_time
assignment_id,,,
11339,0 days 00:20:41.800000,0 days 00:22:00.100000,00:01:18.300000
11816,0 days 00:36:24.700000,0 days 00:37:13.200000,00:00:48.500000
175201,0 days 00:40:21,0 days 00:40:37.100000,00:00:16.100000
175203,0 days 00:41:46.800000,0 days 00:42:40.500000,00:00:53.700000
175238,0 days 00:42:37.925000,0 days 00:44:40.825000,00:02:02.900000
...,...,...,...
222890,0 days 00:32:49.937500,0 days 00:33:49.850000,00:00:59.912500
222898,0 days 00:29:44.486486486,0 days 00:29:58.735135135,00:00:14.248648648
226395,0 days 00:17:43.900000,0 days 00:18:18.900000,00:00:35
232326,0 days 00:26:23.875000,0 days 00:26:36.875000,00:00:13
232370,0 days 00:26:33.128571428,0 days 00:27:55.162857142,00:01:22.034285714

C:\Users\rmora\AppData\Local\Temp\ipykernel_1604\987427309.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  average_per_assignment['start_time'] = pd.to_timedelta(average_per_assignment['start_time'].apply(convert_time))
C:\Users\rmora\AppData\Local\Temp\ipykernel_1604\987427309.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  average_per_assignment['end_time'] = pd.to_timedelta(average_per_assignment['end_time'].apply(convert_time))
C:\Users\rmora\AppData\Local\Temp\ipykernel_1604\987427309.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  average_per_assignment['total_time'] = average_per_assignment['end_time'] - average_per_assignment['start_time']

Empty DataFrame
Columns: [skill, problem_id, user_id, assignment_id, assistment_id, start_time, end_time, problem_type, original, correct, hint_count, total_time]
Index: []

Convert time to format accepted by `to_timedelta`:

```py
lambda t: t[:-2]+':'+t[-1]
```

C:\Users\rmora\AppData\Local\Temp\ipykernel_1604\802418051.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  average_per_assignment = average_per_assignment.groupby('assignment_id').mean(numeric_only=False)

,start_time,end_time,total_time
assignment_id,,,
11339,0 days 00:40:17.550000,0 days 00:41:00.950000,+23:30:43.400000
11816,0 days 00:36:24.700000,0 days 00:37:13.200000,00:00:48.500000
175201,0 days 00:40:21,0 days 00:40:37.100000,00:00:16.100000
175203,0 days 00:46:53.550000,0 days 01:17:19.300000,00:00:25.750000
175238,0 days 00:44:21.600000,0 days 00:56:22.780000,00:00:01.180000
...,...,...,...
222890,0 days 00:32:49.937500,0 days 00:33:49.850000,00:00:59.912500
222898,0 days 00:29:44.486486486,0 days 00:29:58.735135135,00:00:14.248648648
226395,0 days 00:17:43.900000,0 days 00:18:18.900000,00:00:35
232326,0 days 00:26:23.875000,0 days 00:26:36.875000,00:00:13
232370,0 days 00:27:05.243448275,0 days 00:30:03.003448275,00:00:53.622068965