# Feature Engineering

Write up your group's feature ideas in the table, including feature name, grain level, and description.

As a group, compute 2-3 features (the most interesting ones!) in Excel and post the file in this discussion forum before the next class (one Excel file per each group).

In [1]:
import pandas as pd
import w1

In [2]:
sample: pd.DataFrame = pd.read_csv('./data/ASSISTments-sample.csv')
sample

,skill,problem_id,user_id,assignment_id,assistment_id,start_time,end_time,problem_type,original,correct,hint_count
0,Box and Whisker,36843,52451,175321,27833,44:28.0,47:00.5,algebra,1,0,0
1,Box and Whisker,36843,52451,175322,27833,50:35.1,50:51.8,algebra,1,1,0
2,Inverse Relations,8718,52451,175315,8718,28:11.1,29:20.4,choose_1,1,0,0
3,Inverse Relations,833,52451,175315,833,29:22.0,29:39.9,choose_1,1,0,0
4,Inverse Relations,882,52451,175315,882,30:21.4,30:55.6,choose_1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3230,Area Irregular Figure,77520,75361,232370,43144,43:14.3,43:36.9,algebra,1,1,0
3231,Area Irregular Figure,77452,75361,232370,43127,43:38.2,44:19.7,algebra,1,0,0
3232,Congruence,4468,75799,176419,4468,29:37.2,31:21.7,algebra,1,0,0
3233,Congruence,71770,76285,222898,41088,23:33.0,23:41.3,algebra,1,1,0
3234,Box and Whisker,51460,76285,220674,33175,48:22.4,NaN,algebra,1,0,0

## Average time taken per assignment

How much time students spent on a given assignment on average: total time spent on assignment divided by number of students who solved the problem.

Granularity: assignment.

Knowing which assignments are taking lon

In [3]:
avg_time_assignment: pd.DataFrame = w1.get_avg_assignment(sample)

c:\Users\rmora\Documents\UIUC\23F\CI539\ci539\w1.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_time'] = pd.to_timedelta(df['start_time'].apply(convert_time))
c:\Users\rmora\Documents\UIUC\23F\CI539\ci539\w1.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_time'] = pd.to_timedelta(df['end_time'].apply(convert_time))
c:\Users\rmora\Documents\UIUC\23F\CI539\ci539\w1.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_time'] = df['end_time'] - df['start_time']

In [4]:
avg_time_assignment.to_csv('./data/assitments_average_time_assignment.csv')